<p id="notice"><%= notice %></p>

<h1>The Blog Page</h1>

<ul class ="cat">

    <% @posts.each do |post| %>
    <li>
   <%= image_tag post.image_url %><br>
   <%= link_to 'Show', post %>
      </li>
    <% end %>
</ul>

<%= link_to 'New Post', new_post_path %>

